/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Colors */
  --black: #000000;
  --gray-800: #222222;
  --gray-700: #333333;
  --gray-600: #444444;
  --gray-500: #555555;

  --white: #ffffff;
  --red: #a03c46;
  --orange: #d45a01;
  --orange--lighten: #e77322;
  --yellow: #ccaa11;
  --green: #64a03c;
  --blue: #3c70a0;

  --app-background-color: var(--gray-800);
  --app-color: var(--white);
  --app-surface-color: var(--gray-600);
  --app-border-color: var(--gray-500);

  /* Modifiers */
  --app-background-color--contrast: var(--gray-700);

  --app-surface-color--rgb: 50, 50, 50;
  --app-surface-color--opaque: rgba(var(--app-surface-color--rgb), 0.8);

  --app-accent-color: var(--orange);
  --app-accent-color--hover: var(--orange--lighten);

  --danger: var(--red);
  --success: var(--green);
  --warning: var(--yellow);
  --info: var(--blue);

  /* Spacing */
  --app-spacing: 1rem;
  --app-border-radius: 0;
  --app-border-width: 2px;
  --app-outline-width: 0.125rem;
  --app-transition: 0.2s ease-in-out;
  --app-block-spacing-vertical: var(--app-spacing);
  --app-block-spacing-horizontal: var(--app-spacing);
  --app-grid-column-gap: var(--app-spacing);
  --app-grid-row-gap: var(--app-spacing);
  --app-nav-element-spacing-vertical: 1rem;
  --app-nav-element-spacing-horizontal: 0.5rem;
  --app-nav-link-spacing-vertical: 0.5rem;
  --app-nav-link-spacing-horizontal: 0.5rem;

  /* Container width */
  --app-container-max: 100dvw;
  --app-container-width: 90%;

  --icon-stroke-width: 1px;

  /* Typography */
  --app-font-family-emoji:
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --app-font-family-sans-serif:
    system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue',
    sans-serif, var(--app-font-family-emoji);
  --app-font-family-serif: 'Times New Roman', Times, serif;
  --app-font-family-monospace:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace,
    var(--app-font-family-emoji);
  --app-font-family: var(--app-font-family-sans-serif);
  --app-font-size: 15px;

  --app-typography-spacing-vertical: 1rem;
  --app-line-height: 1.5;

  --app-font-weight: 400;
}

/* =========================================================
   Document
   ========================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root),
:where(:host) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--app-background-color);
  color: var(--app-color);
  font-weight: var(--app-font-weight);
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-family: var(--app-font-family);
  text-underline-offset: var(--app-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

/* =========================================================
   Document Landmarks
   ========================================================= */
html {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--app-surface-color) var(--color-background);
  scroll-behavior: smooth;
}

body {
  color: var(--app-color);
  background: var(--app-background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}

main {
  display: block;
}

body > header,
body > main,
body > footer {
  padding-block: var(--app-block-spacing-vertical);
}

hgroup {
  margin-bottom: var(--app-typography-spacing-vertical);
}

hgroup > * {
  margin-top: 0;
  margin-bottom: 0;
}

hgroup > *:not(:first-child):last-child {
  --app-font-weight: unset;
  font-size: 1rem;
}

/* =========================================================
   LAYOUT: Container + Frame alignment
   ========================================================= */
.container {
  width: var(--app-container-width);
  margin-inline: auto;
  padding-inline: auto;
}

@media (min-width: 750px) {
  .container {
    max-width: var(--app-container-max);
  }
}

/* ============================================================
   Grid
   ============================================================ */
.grid {
  grid-column-gap: var(--app-grid-column-gap);
  grid-row-gap: var(--app-grid-row-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid > * {
  min-width: 0;
}

/* =========================================================
   BASIC FORM ELEMENTS
   ========================================================= */
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  line-height: var(--app-line-height);
  font-family: inherit;
  letter-spacing: inherit;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}
