/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Colors */
  --black: #000000;
  --gray-800: #222222;
  --gray-700: #333333;
  --gray-600: #444444;
  --gray-500: #555555;

  --white: #ffffff;
  --red: #a03c46;
  --orange: #d45a01;
  --orange--lighten: #e77322;
  --yellow: #ccaa11;
  --green: #64a03c;
  --blue: #3c70a0;

  --app-background-color: var(--gray-800);
  --app-color: var(--white);
  --app-surface-color: var(--gray-600);
  --app-border-color: var(--gray-500);

  /* Modifiers */
  --app-background-color--contrast: var(--gray-700);

  --app-surface-color--rgb: 50, 50, 50;
  --app-surface-color--opaque: rgba(var(--app-surface-color--rgb), 0.8);

  --app-accent-color: var(--orange);
  --app-accent-color--hover: var(--orange--lighten);

  --danger: var(--red);
  --success: var(--green);
  --warning: var(--yellow);
  --info: var(--blue);

  /* Spacing */
  --app-spacing: 1rem;
  --app-border-radius: 0;
  --app-border-width: 2px;
  --app-outline-width: 0.125rem;
  --app-transition: 0.2s ease-in-out;
  --app-block-spacing-vertical: var(--app-spacing);
  --app-block-spacing-horizontal: var(--app-spacing);
  --app-grid-column-gap: var(--app-spacing);
  --app-grid-row-gap: var(--app-spacing);
  --app-nav-element-spacing-vertical: 1rem;
  --app-nav-element-spacing-horizontal: 0.5rem;
  --app-nav-link-spacing-vertical: 0.5rem;
  --app-nav-link-spacing-horizontal: 0.5rem;

  /* Container width */
  --app-container-max: 100dvw;
  --app-container-width: 90%;

  --icon-stroke-width: 1px;

  /* Typography */
  --app-font-family-emoji:
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --app-font-family-sans-serif: "Inter Variable", system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue',
    sans-serif, var(--app-font-family-emoji);
  --app-font-family-monospace:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace,
    var(--app-font-family-emoji);
  --app-font-family: var(--app-font-family-sans-serif);
  --app-font-size: 15px;

  --app-typography-spacing-vertical: 1rem;
  --app-line-height: 1.5;

  --app-font-weight: 400;
}

/* =========================================================
   Document
   ========================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root),
:where(:host) {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--app-background-color);
  color: var(--app-color);
  font-weight: var(--app-font-weight);
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-family: var(--app-font-family);
  text-underline-offset: var(--app-text-underline-offset);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

@media (min-width: 576px) {

  :root,
  :host {
    --app-font-size: 106.25%;
  }
}

@media (min-width: 768px) {

  :root,
  :host {
    --app-font-size: 112.5%;
  }
}

@media (min-width: 1024px) {

  :root,
  :host {
    --app-font-size: 118.75%;
  }
}

@media (min-width: 1280px) {

  :root,
  :host {
    --app-font-size: 125%;
  }
}

@media (min-width: 1536px) {

  :root,
  :host {
    --app-font-size: 131.25%;
  }
}

blockquote,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: var(--app-typography-spacing-vertical);
  color: var(--app-color);
  font-style: normal;
  font-weight: var(--app-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --app-font-weight: 700;
}

h1,
.h1 {
  --app-font-size: 2rem;
  --app-font-weight: 900;
  --app-line-height: 1.125;
  --app-typography-spacing-top: 3rem;
}

h2,
.h2 {
  --app-font-size: 1.75rem;
  --app-line-height: 1.15;
  --app-typography-spacing-top: 2.625rem;
  --app-font-weight: 700;
}

h3,
.h3 {
  --app-font-size: 1.5rem;
  --app-line-height: 1.175;
  --app-typography-spacing-top: 2.25rem;
  --app-font-weight: 500;
}

h4,
.h4 {
  --app-font-size: 1.25rem;
  --app-line-height: 1.2;
  --app-typography-spacing-top: 1.874rem;
  --app-font-weight: 400;
}

h5,
.h5 {
  --app-font-size: 1.125rem;
  --app-line-height: 1.225;
  --app-typography-spacing-top: 1.6875rem;
  --app-font-weight: 300;
}

h6,
.h6 {
  --app-font-size: 1rem;
  --app-line-height: 1.25;
  --app-typography-spacing-top: 1.5rem;
  --app-font-weight: 300;
}

blockquote {
  display: block;
  margin: var(--app-typography-spacing-vertical) 0;
  padding: var(--app-spacing);
  border-right: none;
  border-left: 0.25rem solid var(--app-border-color);
  border-inline-start: 0.25rem solid var(--app-border-color);
  border-inline-end: none;
}

:where(article, blockquote, ol, ul, p)~ :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--app-typography-spacing-top);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--app-typography-spacing-vertical);
  color: var(--app-color);
  font-weight: var(--app-font-weight);
  font-size: var(--app-font-size);
  line-height: var(--app-line-height);
  font-family: var(--app-font-family--headings);
}



/* =========================================================
   Document Landmarks
   ========================================================= */
html {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--app-surface-color) var(--color-background);
  scroll-behavior: smooth;
}

body {
  color: var(--app-color);
  background: var(--app-background-color);
  width: 100%;
  margin: 0;
}

main {
  display: block;
}

body>header,
body>footer {
  padding-block: var(--app-block-spacing-horizontal);
}

hgroup {
  margin-bottom: var(--app-typography-spacing-vertical);
}

hgroup>* {
  margin-top: 0;
  margin-bottom: 0;
}

hgroup>*:not(:first-child):last-child {
  --app-font-weight: unset;
  font-size: 1rem;
}

/* =========================================================
   LAYOUT: Container + Frame alignment
   ========================================================= */
.container {
  width: var(--app-container-width);
  margin-inline: auto;
  padding-inline: auto;
}

@media (min-width: 750px) {
  .container {
    max-width: var(--app-container-max);
  }
}

/* ============================================================
   Grid
   ============================================================ */
.grid {
  grid-column-gap: var(--app-grid-column-gap);
  grid-row-gap: var(--app-grid-row-gap);
  display: grid;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.grid>* {
  min-width: 0;
}


nav,
nav ul {
  display: flex;
  padding-inline: 1rem;
}

nav {
  justify-content: space-between;
  overflow: visible;
}

nav ol,
nav ul {
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: var(--app-nav-element-spacing-vertical) var(--app-nav-element-spacing-horizontal);
}


/* =========================================================
   BASIC FORM ELEMENTS
   ========================================================= */
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  line-height: var(--app-line-height);
  font-family: inherit;
  letter-spacing: inherit;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}

button {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
}

button,
[type=submit],
[type=reset],
[type=button] {
  appearance: button;
  -webkit-appearance: button;
}

button,
[type=submit],
[type=reset],
[type=button],
[type=file]::file-selector-button,
[role=button] {
  border: var(--app-border-width) solid transparent;
  border-radius: var(--app-border-radius);
  outline: none;
  background-color: var(--app-accent-color);
  box-shadow: var(--app-box-shadow);
  color: var(--app-color);
  padding: var(--app-spacing);
  font-weight: var(--app-font-weight);
  font-size: 1rem;
  line-height: var(--app-line-height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color var(--app-transition), border-color var(--app-transition), color var(--app-transition), box-shadow var(--app-transition);
}